version: "3.9"

services:
  db:
    image: postgres:15
    container_name: smart-tourism-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: abc123
      POSTGRES_DB: tourismdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: smart-tourism-backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend/my-vietnam-map
    container_name: smart-tourism-frontend
    restart: always
    ports:
      - "5500:5500"
    depends_on:
      - backend


volumes:
  postgres_data: